
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e293b;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.container {
  background: #fff;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 420px;
  text-align: center;
}

header h1 {
  font-size: 35px;
  font-family: "poppins", sans-serif;
  font-style: bold;
  color: #1e293b;
  margin-bottom: 5px;
}

header p {
  color: #555;
  font-size: 0.9em;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.input-area input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
  font-family: "times new roman", serif;
}

.input-area button {
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.input-area button:hover {
  background-color: #030815;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 20px;
}

.actions button {
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

#filter-btn {
  background-color: #e5e7eb;
}

#filter-btn:hover {
  background-color: #cbd5e1;
}

#delete-all-btn {
  background-color: #ef4444;
  color: white;
}

#delete-all-btn:hover {
  background-color: #dc2626;
}

.list-area h2 {
  color: #1e293b;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#task-list {
  text-align: left;
  padding-left: 20px;
}

#task-list li {
  margin-bottom: 8px;
  padding: 8px 10px;
  background: #f1f5f9;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "times new roman", serif;
}

#task-list li.completed {
  text-decoration: line-through;
  color: gray;
  font-family: "times new roman", serif;
}

.delete-btn {
  background: none;
  border: none;
  color: #ef4444;
  font-size: 1.2em;
  cursor: pointer;
}

footer {
  margin-top: 10px;
  font-size: 0.8em;
  color: #64748b;
}
